<ion-content>
  <div class="chekout-bg">
    <ion-grid>
      <ion-row>
        <ion-col size="6">
          <ion-item>
            <ion-label position="floating" color="medium">Coupon</ion-label>
            <ion-input name="coupon" [(ngModel)]="couponValue" type="text"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="6">
          <ion-button (click)="applyCoupon()" color="success">Apply Coupon</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-card *ngIf="currentOrder">
      <ion-card-header>
        <ion-card-title>{{currentOrder.bookTitle}}</ion-card-title>
        <ion-card-subtitle>{{currentOrder.subTitle}}</ion-card-subtitle>
      </ion-card-header>

      <ion-item>
        <ion-icon name="mail-open" slot="start"></ion-icon>
        <ion-label>{{currentOrder.clientEmail}}</ion-label>
      </ion-item>

      <ion-item class="ion-activated">
        <ion-icon name="warning" slot="start"></ion-icon>
        <ion-label>{{currentOrder.noOfWord}} words (${{currentOrder.noOfWord/1000*15}})</ion-label>
      </ion-item>

      <ion-item *ngIf="currentOrder.customizedCopyrightPage">
        <ion-icon name="checkmark" slot="start"></ion-icon>
        <ion-label>Customized Copyright Page ($10)</ion-label>
      </ion-item>

      <ion-item *ngIf="currentOrder.professionalBookDescription">
        <ion-icon name="checkmark" slot="start"></ion-icon>
        <ion-label>Professional Book Description ($0)</ion-label>
      </ion-item>

      <ion-item *ngIf="currentOrder.plagiarismReport">
        <ion-icon name="checkmark" slot="start"></ion-icon>
        <ion-label>Plagiarism Report ($15)</ion-label>
      </ion-item>

      <ion-item *ngIf="currentOrder.wordFormatting">
        <ion-icon name="checkmark" slot="start"></ion-icon>
        <ion-label>Word Formatting ($0)</ion-label>
      </ion-item>

      <ion-item>
        <ion-icon name="layers" slot="start"></ion-icon>
        <ion-label>Total: ${{getTotalPrice()}}</ion-label>
      </ion-item>

      <ion-item>
        <ion-icon name="cash" slot="start"></ion-icon>
        <ion-label>Discount: ${{discount}}</ion-label>
      </ion-item>

      <ion-item>
        <ion-icon name="calculator" slot="start"></ion-icon>
        <ion-label>Sub Total: ${{getSubTotalPrice()}}</ion-label>
      </ion-item>
    </ion-card>
    <div class="text-center">
      <!-- <ngx-paypal [config]="payPalConfig"></ngx-paypal> -->
      <ion-button color="light" (click)="addOrderToServer()">Confirm Order</ion-button>
    </div>
  </div>
  <!-- <ion-grid>
    <ion-row justify-content-center class="margin-bottom-adjsut">
      <ion-col class="ion-text-center">
        <ion-button (click)="checkout()" color="primary">Proceed Checkout</ion-button>
      </ion-col>
    </ion-row>
    <ion-row justify-content-center class="margin-bottom-adjsut">
      <ion-col class="ion-text-center">
        <div [id]="payPalButtonId"></div>
        <span>We already received your order. If you don't have paypal please contact us.</span>
      </ion-col>
    </ion-row>
  </ion-grid> -->
</ion-content>