<ion-content>
  <div class="about">
    <h2 class="heading-2 color-grey-dark-1">About Writogen</h2>
    <h1 class="heading-1 animated-heading trk-bg-blue">Satisfaction is more important than payment</h1>
    <h3 class="heading-3 color-secondary">We have the best ghost writers for every types of book and they are
      really Pro!
    </h3>
  </div>
  <div class="about__details">
    <div class="about__details-img"></div>
    <div class="about__details-text">
      <p>Writogen is a e-book writing service company behind the success of a lot of Self Publishers.
        The unique goals, digital assets, and business needs of every publisher are our tools to provide a
        desired outcome. That's why we tailor
        our e-book writing services to your business. We have managed to hire highly qualified ghostwriters
        who understand and place the needs
        of their customers first. We want to help you make your self-publishing business succeed,
        which is why we focus only on what matters, the writing. The eBook You Will Get will be 100%
        Plagiarism-Free. So, Place Your Order, Relax, And Wait for Your Next Best-Selling eBook!
        Let us be a part of your success !</p>
    </div>
  </div>
  <div class="faq-section">
    <h2>Frequently Asked Questions</h2>

    <div style="visibility: hidden; position: absolute; width: 0px; height: 0px;">
      <svg xmlns="http://www.w3.org/2000/svg">
        <symbol viewBox="0 0 24 24" id="expand-more">
          <path d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6z" />
          <path d="M0 0h24v24H0z" fill="none" />
        </symbol>
        <symbol viewBox="0 0 24 24" id="close">
          <path
            d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z" />
          <path d="M0 0h24v24H0z" fill="none" />
        </symbol>
      </svg>
    </div>

    <details open>
      <summary>
        Why should I choose you?
        <svg class="control-icon control-icon-expand" width="24" height="24" role="presentation">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#expand-more" /></svg>
        <svg class="control-icon control-icon-close" width="24" height="24" role="presentation">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#close" /></svg>
      </summary>
      <p>We work for a long time(4 years +). And we don't take payments until we are sure to get you  the
        e-book that you are dreaming of. That's the reason of our higher success rate.
      </p>
    </details>

    <details>

      <summary>
        Can I negotiate with your pricing?
        <svg class="control-icon control-icon-expand" width="24" height="24" role="presentation">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#expand-more" /></svg>
        <svg class="control-icon control-icon-close" width="24" height="24" role="presentation">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#close" /></svg>
      </summary>
      <p>No, it's fixed. But you can use our coupons to get discount. To get coupons
         visit our facebook page or contact us. </p>
    </details>

    <details>
      <summary>
        How much I have to pay to order a new book?
        <svg class="control-icon control-icon-expand" width="24" height="24" role="presentation">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#expand-more" /></svg>
        <svg class="control-icon control-icon-close" width="24" height="24" role="presentation">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#close" /></svg>
      </summary>
      <p>To order you don't have to pay. We will mail you after we receive and review your order.
        If we think we can fulfil your requirements only then you have to pay to get started.
      </p>
    </details>

    <details>

      <summary>
        How long do you take to make an e-book?
        <svg class="control-icon control-icon-expand" width="24" height="24" role="presentation">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#expand-more" /></svg>
        <svg class="control-icon control-icon-close" width="24" height="24" role="presentation">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#close" /></svg>
      </summary>
      <p>Well, it depends on your requirements. Typically we take 7 to 10 days according to your 
        plan for your e-book. We don't take extra charge to make it faster. You have to send us e-mail or 
        send a message from here.
      </p>
    </details>

    <details>

      <summary>
        Do you offer special benefits for your regular customers?
        <svg class="control-icon control-icon-expand" width="24" height="24" role="presentation">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#expand-more" /></svg>
        <svg class="control-icon control-icon-close" width="24" height="24" role="presentation">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#close" /></svg>
      </summary>
      <p>Yes, we always have some special coupons for our regular customers which can get you a lot of discount.
        Coupons are meant for the regular self-publishers for whom we work for.
      </p>
    </details>
  </div>
  <div class="my-3"></div>
</ion-content>