<ion-content>
  <div class="about">
    <h2 class="heading-2 color-grey-dark-1">About the Pro-Writers</h2>
    <h1 class="heading-1 animated-heading">Satisfaction is more important than payment</h1>
    <h3 class="heading-3 color-secondary">We have the best ghost writers for every types of book and they are
      really Pro!
    </h3>
  </div>
  <div class="about__details">
    <div class="about__details-img"></div>
    <div class="about__details-text">
      <p>Pro-Writers is a writing service company behind the success of many Self Publishers. 
        Every publisher has some unique goals, digital assets, and business needs. That's why we tailor 
        our writing services to your business. We made up of a team of highly qualified ghostwriters 
        who understand and place the needs
         of their customers first. We want to help you make your self-publishing business succeed, 
         which is why we focus only on what matters, the writing. The eBook You Will Get will be 100% 
         Plagiarism-Free. So, Place Your Order, Relax, And Wait for Your Next Best-Selling eBook!
        Let us be a part of your success !</p>
    </div>
  </div>
  <div class="about__end">
    <h3>Why choose us a ghostwriting service</h3>
    <p>
A common option that many folks who are new to self-publishing turn to when it comes to having their first eBook written is one of a host of gig-based websites, confident they can find a writer and manage the writing process by themselves without anyone’s help. The secret is, it isn’t hard to find a freelance writer but it is quite hard to find a freelance writer whose work you enjoy reading. That’s where EWS comes in as you can place an order confident that your writer will not only be a native English speaker but has already proven they have what it takes to generate quality content.
By choosing EWS you allow us to do all the heavy lifting for you, leaving you free to focus on choosing the perfect topic while we find the perfect writer to match. If you’ve worked with creative individuals in the past you know that they are often great at dreaming up amazing ideas but just as often lacking in execution. This is why all orders are overseen by a content manger who is always on hand to answer questions that you or your writer might have about the project or to find a new answer if one isn’t readily available. They keep a close eye on the writer throughout the process to ensure that if they do decide to do something unexpected, it doesn’t seriously affect the timeline of your project.
    </p>
  </div>
</ion-content>
