<nav>
  <div class="img-container">
    <img class="logo-img" src="../../assets/prowriters.jpg" alt="">
  </div>
  <ul class="side-nav">
    <li class="side-nav__item"  routerLinkActive="side-nav__item-active">
      <a routerLink="home" class="side-nav__link">
        <ion-icon class="side-nav__icon" name="home"></ion-icon>
        <span>Home</span>
      </a>
    </li>
    <li class="side-nav__item"  routerLinkActive="side-nav__item-active">
      <a routerLink="about"  class="side-nav__link">
        <ion-icon class="side-nav__icon" name="information-circle"></ion-icon>
        <span>About</span>
      </a>
    </li>
    <li class="side-nav__item"  routerLinkActive="side-nav__item-active">
      <a routerLink="services"  class="side-nav__link">
        <ion-icon class="side-nav__icon" name="snow"></ion-icon>
        <span>Services</span>
      </a>
    </li>
    <li class="side-nav__item" routerLinkActive="side-nav__item-active">
      <a routerLink="order" class="side-nav__link">
        <ion-icon class="side-nav__icon" name="arrow-forward-circle"></ion-icon>
        <span>Order</span>
      </a>
    </li>
    <li class="side-nav__item"  routerLinkActive="side-nav__item-active">
      <a routerLink="contact"  class="side-nav__link">
        <ion-icon class="side-nav__icon" name="information-circle"></ion-icon>
        <span>Contact</span>
      </a>
    </li>
  </ul>
</nav>