<ion-content>
  <div class="service">
    <div class="service__header">
      <h2 class="heading-2 color-grey-dark-1">Services provided by Pro-Writers</h2>
      <h1 class="heading-1 animated-heading">We believe in hard work</h1>
      <h3 class="heading-3 color-secondary">
        We are dedicated enough to help you to take yourself in the next level
      </h3>
    </div>
    <div>
      <ion-grid>
        <ion-row>
          <ion-col size="12" size-md="4">
            <div class="service-box">
              <div class="service_header">
                <ion-icon name="receipt-outline" class="service-icon"></ion-icon>
              </div>
              <div class="box-header">
                <h4 class="box-header-text">E-Book Writing</h4>
              </div>
              <div class="box-content">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                   Perspiciatis explicabo hic magni! Ratione quasi ut impedit 
                   blanditiis pariatur, obcaecati necessitatibus quas laudantium 
                   magnam quam, veniam quo autem at. Iste cum, doloribus et natus 
                   eveniet ratione. Quia provident pariatur perferendis architecto!</p>
              </div>
            </div>
          </ion-col>
          <ion-col size="12" size-md="4">
            <div class="service-box">
              <div class="service_header">
                <ion-icon name="reader-outline" class="service-icon"></ion-icon>
              </div>
              <div class="box-header">
                <h4 class="box-header-text">Technical E-Book Writing</h4>
              </div>
              <div class="box-content">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                   Perspiciatis explicabo hic magni! Ratione quasi ut impedit 
                   blanditiis pariatur, obcaecati necessitatibus quas laudantium 
                   magnam quam, veniam quo autem at. Iste cum, natus 
                   perferendis architecto!</p>
              </div>
            </div>
          </ion-col>
          <ion-col size="12" size-md="4">
            <div class="service-box">
              <div class="service_header">
                <ion-icon name="medical-outline" class="service-icon"></ion-icon>
              </div>
              <div class="box-header">
                <h4 class="box-header-text">Cover Design and Word Formating</h4>
              </div>
              <div class="box-content">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                   Perspiciatis explicabo hic magni! Ratione quasi ut impedit 
                   blanditiis pariatur, obcaecati necessitatibus quas laudantium 
                   magnam quam, veniam quo autem at. Iste cum, doloribus et natus 
                   architecto!</p>
              </div>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <div class="button-holder">
      <button (click)="goToOrder()" class="cool__btn cool__btn-secondary header__button animate-moveInBottom">Order Now</button>
    </div>
  </div>
</ion-content>