<ion-content>
  <div class="service">
    <div class="service__header">
      <h2 class="heading-2 color-grey-dark-1">Services provided by Writogen</h2>
      <h1 class="heading-1 animated-heading trk-bg-blue">We believe in hard work</h1>
      <h3 class="heading-3 color-secondary">
        We are dedicated enough to help you to take yourself in the next level
      </h3>
    </div>
    <div>
      <ion-grid>
        <ion-row>
          <ion-col size="12" size-md="4">
            <div class="service-box">
              <div class="service_header">
                <ion-icon name="receipt-outline" class="service-icon"></ion-icon>
              </div>
              <div class="box-header">
                <h4 class="box-header-text">E-Book Writing</h4>
              </div>
              <div class="box-content">
                <p>Whatever your theme – cookbook, diet/fasting book, self improvement guide, religious or spiritual book or fiction – on the off chance that you are searching for a fundamental review, this is the choice for you. Whatever your theme – cookbook, diet/fasting book, self improvement guide, religious or spiritual book or fiction – on the off chance that you are searching for a fundamental review, this is the choice for you. </p>
              </div>
            </div>
          </ion-col>
          <ion-col size="12" size-md="4">
            <div class="service-box">
              <div class="service_header">
                <ion-icon name="reader-outline" class="service-icon"></ion-icon>
              </div>
              <div class="box-header">
                <h4 class="box-header-text">Technical E-Book Writing</h4>
              </div>
              <div class="box-content">
                <p>It includes subjects that require specialized technical knowledge and skills from the experienced author for the best outcomes. For instance, stock trading, programming, social media promoting and marketing, real-estate, and learning languages etc.</p>
              </div>
            </div>
          </ion-col>
          <ion-col size="12" size-md="4">
            <div class="service-box">
              <div class="service_header">
                <ion-icon name="medical-outline" class="service-icon"></ion-icon>
              </div>
              <div class="box-header">
                <h4 class="box-header-text">Cover Design and Word Formating</h4>
              </div>
              <div class="box-content">
                <p>If you are done writing your book somehow, now you just need an appropirate cover for your book and/or formatting your book that gives your book absolute professional look and feel. Then feel free to contact us and we will take care the rest.</p>
              </div>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <div class="button-holder">
      <button (click)="goToOrder()" class="cool__btn cool__btn-secondary header__button animate-moveInBottom">Order Now</button>
    </div>
  </div>
</ion-content>