.navbar {
    padding: 1rem;
    position: relative;
    &__img {
        max-height: 45px;
    }
    &__icon-container {
        position: fixed;
        right:0;
        top:0;
    }
    &__icon {
        height: 6.4rem;
        width: 6.4rem;
        color: white;
        cursor: pointer;
        transition: all .4s;
        float: right;
    }
    &__icon:hover {
        color: aqua;
        transform: translateY(.5rem);
    }
}